* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  :root {
    --primarycolor: #00d1f9;
    --secondarycolor: #19409a;
    --titlecolor: #001442;
    --titlefont: "Playfair Display";
    --adscolor: #808080;
    --bodyfont: "Open Sans";
  }
  .body {
    font-family: var(--bodyfont);
    line-height: 1.5;
  }
  /* navbar */
  .nav {
    height: 100px;
    width: 100%;
    display: flex;
    padding-left: 50px;
    position: fixed;
    border-bottom: 0.1px dashed #807d7d;
    align-content: center;
    align-items: center;
  }
  .logo {
    color: var(--primarycolor);
    font-size: 40px;
  }
  .nav-taitle {
    color: var(--primarycolor);
    margin-left: 10px;
    text-transform: uppercase;
    font-family: var(--titlefont);
  }
  .nav-list {
    width: 450px;
    margin-left: 100px;
  }
  .nav-link {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
  }
  
  .nav-item {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-contact {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-right: 2px solid var(--primarycolor);
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-text {
    color: #807d7d;
    text-transform: capitalize;
    font-size: 20px;
  }
  .nav-number {
    color: var(--primarycolor);
    text-decoration: none;
    margin-top: 5px;
    font-size: larger;
  }
  .nav-end {
    margin-top: -30px;
    margin-left: 10px;
  }
  .pp-1 {
    color: #fff;
  }
  .nav-search {
    width: 50px;
    height: 50px;
    border: 1px solid var(--primarycolor);
    border: none;
    border-radius: 100%;
    background-color: var(--primarycolor);
    cursor: pointer;
  }
  /* end navbar */
  
  .banner-btn3 {
    text-decoration: none;
  
    display: inline-block;
    padding-top: 0.4rem;
    border: none;
    border: 1px solid #00d1f9;
    color: #fff;
    background-color: var(--primarycolor);
    border-radius: 35px;
    width: 140px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: var(--bodyfont);
    margin-top: 2rem;
    margin-left: 5px;
  }
  .active {
    color: var(--primarycolor);
  }
  .nav-link:hover {
    color: var(--primarycolor);
  }
  
  /* header */
  .header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("./IMAGES/carousel-2.jpg") center/cover no-repeat;
    min-height: 110vh;
    position: relative;
  }
  
  .banner {
    position: absolute;
    top: 30%;
    right: 50%;
    color: #fff;
    padding-left: 5rem;
    margin-top: 1.5rem;
    /* animation: move 2s; */
    /* animation-fill-mode: forwards;  */
  }
  
  .banner-subtitle {
    padding-top: -200px;
    font-weight: 700;
    font-family: var(--titlefont);
    text-transform: uppercase;
    font-size: 25px;
    animation: move 1s ease;
  }
  
  .banner-title {
    font-weight: 700;
    font-family: var(--titlefont);
    line-height: 1.2;
    text-transform: capitalize;
    font-size: 3.25rem;
    margin-top: 1.5rem;
    animation: move 1.5s  ease;
  }
  .banner-text {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    animation: move 1.75s ease;
  }
  
  .banner-btn1 {
    text-decoration: none;
    display: inline-block;
    padding-top: 0.6rem;
    border: none;
    border: 1px solid #00d1f9;
    color: #fff;
    background-color: var(--primarycolor);
    border-radius: 35px;
    width: 170px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: var(--bodyfont);
    margin-top: 2rem;
    animation: move 2s ease;
  }
  .banner-btn-2 {
    text-decoration: none;
  
    display: inline-block;
    padding-top: 0.6rem;
    border: none;
    border: 1px solid #19409a;
    color: #fff;
    border-radius: 35px;
    width: 190px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: var(--bodyfont);
    background-color: var(--secondarycolor);
    margin-top: 2rem;
    animation: move 2.25s ease;
  }
  
  .banner-btn-2:hover {
    background-color: var(--primarycolor);
  }
  .banner-btn1:hover {
    background-color: var(--secondarycolor);
    border: none;
  }
  
  .about-btn:hover {
    background-color: var(--primarycolor);
  }
  /* animations */
  @keyframes move {
    
  0%{
    transform: translateX(1000px);
  
  }
  
  100%{
  transform: translateX(0px);
  
  
  }
  }
  /* animations */
  /* end header */
  
/*   start  Feature */

.feature {
    min-height: 140vh;
    text-align: center;
    padding-top: 70px;
    background-color: #f2f9f9;
  }
  .feature-subtaitle {
    font-size: 25px;
    font-family: var(--titlefont);
    color: var(--primarycolor);
    text-transform: uppercase;
    font-weight: 200;
    animation: show 1s ease;
  }
  .feature-taitle {
    padding-top: 1.5rem;
    font-family: var(--titlefont);
    color: var(--titlecolor);
    font-size: 4rem;
    font-weight: 700;
    padding-left: 250px;
    padding-right: 225px;
    animation: show 1.25s ease;
  }
  .container {
    display: flex;
    padding-top: 80px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
  }
  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 350px;
    border: 0.5 solid grey;
    border: none;
    box-shadow: 3px 2px 50px rgb(251, 250, 250);
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
  }
  .text-white {
    color: #fff;
    border: 1px solid blue;
    border: none;
    border-radius: 100%;
    background-color: var(--primarycolor);
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .feature-icon-title {
    margin-top: 10px;
    text-decoration: none;
    font-size: 25px;
    font-family: var(--titlefont);
    font-weight: 100;
    color: var(--titlecolor);
  }
  .feature-icon-title:hover {
    color: #29a3bc;
  }
  .feature-text {
    margin-top: 10px;
    font-family: var(--bodyfont);
    color: #808080;
    line-height: 1.5;
    padding-left: 1rem;
  }
  .feature-btn {
    margin-top: 2rem;
    text-decoration: none;
    font-size: 15px;
    color: var(--secondarycolor);
    font-family: sans-serif;
  }
  .feature-btn:hover {
    color: var(--primarycolor);
  }
  .icon-1{
  animation: show 1.40s ease;
  
  }
  .icon-2{
    animation: show 1.50s ease;
  
  }
  .icon-3{
    animation: show 2s ease;
  
  
  
  }
  .icon-4{
    animation: show 2.10s ease;
  
  }
  /* animations */
  
  @keyframes show {
  
    0%{
      transform: translatey(1000px);
    
    }
    
    100%{
    transform: translatey(0px);
  
  
  
  
  }
  
  }
  
  /* animations */
  
  /* end feature */
  /* start about */
.about {
    min-height: 120vh;
    padding-top: 90px;
  }
  
  .about-center {
    padding-left: 70px;
    padding-right: 70px;
  }
  .first-column {
    height: 110vh;
    width: 50%;
    box-shadow: 3px 2px 50px rgb(251, 250, 250);
    background: url("./IMAGES/about.jpg");
    border-radius: 5px;
    background-size: cover;
    /* animation:  slidfromleft 2.15s ease; */
  }
  
  .about-title {
    border: 1px solid #19409a;
    color: #fff;
    background-color: #19409a;
    width: 300px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  .about-subtitle {
    float: right;
  }
  .second-column {
    float: right;
    /* animation: slidfromright 2.15 ease; */
  }
  .about-subtitle,
  .about-item,
  .btn {
    float: right;
  }
  .about-subtitle {
    margin-top: -665px;
    padding-right: 375px;
    color: var(--primarycolor);
    font-size: 25px;
    font-family: var(--titlefont);
    font-weight: 100;
    text-transform: uppercase;
  }
  .about-title1 {
    margin-top: -645px;
    font-size: 4rem;
    padding-left: 600px;
    font-family: var(--titlefont);
    color: var(--titlecolor);
  }
  .about-text {
    padding-left: 600px;
    color: #808080;
    margin-top: 20px;
    line-height: 25px;
    font-size: large;
    font-weight: 300;
  }
  
  .container1 {
    height: 300px;
    width: 500px;
    float: right;
    margin-top: -350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .box {
    height: 140px;
    width: 510px;
    background-color: #f2f9f9;
    border-radius: 10px;
  }
  .fa-tint,
  .fa-faucet {
    color: #fff;
    border: 1px solid blue;
    border: none;
    border-radius: 100%;
    background-color: var(--primarycolor);
    width: 80px;
    height: 80px;
    font-size: xx-large;
    margin-top: 20px;
    margin-left: 10px;
  }
  .about-icon-title {
    text-decoration: none;
    font-size: 25px;
    display: flex;
    margin-top: -80px;
    padding-left: 110px;
    color: var(--titlecolor);
    font-family: var(--titlefont);
  }
  
  .about-text1 {
    padding-left: 110px;
    padding-top: 10px;
    padding-right: 13px;
    color: #808080;
    font-family: var(--bodyfont);
    line-height: 25px;
  }
  .about-btn {
    text-decoration: none;
    display: inline-block;
    padding-top: 0.6rem;
    border: none;
    border: 1px solid #00d1f9;
    color: #fff;
    background-color: var(--secondarycolor);
    border-radius: 35px;
    width: 180px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-family: var(--bodyfont);
    text-transform: capitalize;
    margin-top: 329px;
    margin-left: 630px;
  }
  /* animations */
  /* @keyframes slidfromleft{
    0%{
      transform: translatex(1000px);
    
    }
    
    50%{
    transform: translatex(0px);
  
  
  
  
  }
  
  
  }
  @keyframes slidfromright{
    0%{
      transform: translatex(-1000px);
    
    }
    
    50%{
    transform: translatex(0px);
  
  
  
  
  }
  
  
  }
   */
  
  
  
  /* animations */
  
  /* end about */
  /* start aside */

.aside-center {
    min-height: 70vh;
    margin-top: 70px;
    background: linear-gradient(rgba(25, 60, 154, 0.9), rgba(25, 60, 154, 1)),
      url("./IMAGES/fact-bg.jpg") center/cover no-repeat;
  }
  .aside-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20vh;
  }
  .aside-icon {
    height: 400;
    width: 300;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .aside-subtaitle {
    padding-top: 15px;
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    font-family: var(--titlefont);
    font-weight: 100;
  }
  .asid-number {
    font-size: 35px;
    color: #fff;
    padding-top: 25px;
    font-weight: 600;
    font-family: var(--bodyfont);
  }
  
  /*  end aside */
  /* start service */
.service {
    min-height: 200vh;
    background-color: #f2f9f9;
  }
  .service-subtaitle {
    padding-top: 100px;
    font-size: 22px;
    font-family: var(--titlefont);
    color: var(--primarycolor);
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
  }
  .service-title {
    padding-top: 1.25rem;
    font-family: var(--titlefont);
    color: var(--titlecolor);
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
  }
  .service-center {
    /* margin-top: 50px; */
    min-height: 120vh;
    width: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 70px;
    position: relative;
  }
  .blog {
    width: 375px;
    height: 200px;
    align-items: center;
    display: block;
    flex-direction: row;
    border-radius: 10px;
    background-color: #f2f9f9;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  }
  .blog-title {
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 35px;
    font-weight: 500;
    color: var(--titlecolor);
    font-family: var(--titlefont);
    text-transform: capitalize;
  }
  
  .blog-text {
    color: #808080;
    line-height: 1.55;
    padding-top: 20px;
    padding-left: 35px;
    width: 250px;
    font-family: var(--bodyfont);
  }
  .service-center2 {
    min-height: 120vh;
    float: right;
    margin-top: -705px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .service-img {
    padding-left: 425px;
    margin-top: -620px;
  }
  
  .fa-dumpster-fire,
  .mb6 {
    float: right;
    width: 80px;
    height: 80px;
    margin-top: -130px;
  }
  .fa-assistive-listening-systems,
  .mb7,
  .fa-project-diagram {
    width: 80px;
    height: 80px;
    margin-top: 40px;
  }
  .blog-title1 {
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    margin-top: -100px;
    padding-left: 95px;
    font-weight: 500;
    color: var(--titlecolor);
    font-family: var(--titlefont);
    text-transform: capitalize;
  }
  .blog-text1 {
    color: #808080;
    line-height: 1.55;
    padding-top: 20px;
    padding-left: 90px;
    font-family: var(--bodyfont);
  }
  /* end service */